header {
  background: red;
  position: -webkit-sticky;
  position: sticky;
}

header h1 {
  color: blue;
  padding: 7px 3px;
}

#textlines {
  max-width: 230px;
  min-width: 230px;
  margin: auto;
  width: 60%;
}

#textlines input {
  margin-bottom: 12px;
  border-radius: 7px;
}

#button {
  margin-bottom: 12px;
  border-radius: 8px;
  background-color: yellow;
}

#notes {
  border-top: 1px solid #000000;
  margin-top: 10px;
  max-width: 230px;
  min-width: 230px;
  margin: auto;
  width: 60%;
}

#notesButton {
  border-radius: 5px;
  margin: 10px 0;
  background-color: #0f0c0c;
  padding: 1px 15px;
  border: 2px solid blue  ;
  color: orangered;
}

#today {
  border: 2px solid black;
  max-width: 850%;
  margin: 0 10px;
}

.orange {
  background-color: green;
  padding: 2px 8px;
  color: rgb(207, 151, 151);
  border-radius: 7px;
}

.pink {
  background-color: yellow;
  padding: 2px 8px;
  border-radius: 4px;
}

.lightblue {
  background-color: lightblue;
  padding: 5px 10px 5px 10px;
  border-radius: 4px;
}

.red {
  background-color: red;
  padding: 2px 8px;
  color: rgb(255, 197, 197);
  border-radius: 4px;
}

.gray {
  background-color: gray;
  padding: 2px 8px;
  color: lightgrey;
  border-radius: 4px;
}

#today p {
  font-weight: bold;
font-size: large;
font-family: sans-serif;
}

#forecast {
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#forecast div {
  width: 100%;
  padding-left: 20px;
}

#forecast h3 {
  padding-left: 30px;
}

.future {
  background-color: #213179;
  color: #ffffff;
  margin: 0 15px 10px 10px;
  min-width: 150px;
  max-width: 200px;
  overflow: hidden;
  justify-content: space-evenly;
  flex-direction: column;
}

.future h4 {
  font-size: 1.25rem;
  padding-top: 5px;
}

.future p {
  font-size: 1rem;
}
